html(lang = 'en')
    head 
        title Homepage
        link(rel='stylesheet' href='/home.css')
        link(href="https://fonts.googleapis.com/css2?family=Barlow:ital@1&display=swap" rel="stylesheet")

    body#body 
        //- Includes the pug file responsible for the header
        include ./partials/header

        h1#title Welcome to the Restaurant Ordering System!