html
    head
        title Order Form
        link(rel='stylesheet' href='/orderform.css')
        style.
            .column {
            float: left;
            }
            .left{
            width: 10%;
            }
            .right {
            width: 25%;
            }
            .middle {
            width: 65%;
            }

    body#body(onload="init()")
        include ./partials/header.pug
        br

        select#restaurant-select
        br
        br
        #info
        #main
        #left.column.left
        #middle.column.middle
        #right.column.right

        script(src='../orderform.js')