
#body{
    background-color: rgb(160, 198, 247);
}

#title{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Barlow', sans-serif;
}

.infoText{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'Oswald', sans-serif;
    font-size: larger;
}